<h2 class="ui block header">
  Exportera statistik
</h2>


Markerad statistik kommer att inkluderas och exporteras som tabbseparerad csv.<br><br>

<div class="ui checkbox">
  <input type="checkbox" id="chk_general_stats" checked name="example">
  <label style="cursor:default;" for="chk_word_stats">Allmän statistik</label>
</div><br>
<div class="ui checkbox">
  <input type="checkbox" id="chk_readability_stats" checked name="example">
  <label style="cursor:default;" for="chk_pos_stats">Läsbarhet</label>
</div><br>
<div class="ui checkbox">
  <input type="checkbox" id="chk_pos_stats" checked name="example">
  <label style="cursor:default;" for="chk_readability_stats">Ordklasstatistik</label>
</div><br>
<div class="ui checkbox">
  <input type="checkbox" id="chk_freq_stats" checked name="example">
  <label style="cursor:default;" for="chk_word_len_stats">Frekvenser</label>
</div>

<br><br>

<button class="ui button" id="exportbtn">Exportera statistik</button>
